@font-face {
   font-family: "NarrowNews";
   src: url("./fonts/ClanOT-NarrowNews.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
}
/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

/*--------------------*/



.container {
   width: 1050px;
   height: 200vh;
   margin: 0 auto;
   padding: 30px;
   position: relative;
}


.navigation{
   position: sticky;
   top: 15px;
}
.navbar {
  background: rgb(102,102,102);
  margin: 0 -10px;
  
  
  
}
.navbar_items{
   display: flex;
   height: 40px;
   padding: 0 15px;
   align-items: center;
  
}
.navbar_items li{
   margin: 0 10px 0 0;
   
}
.navbar_items li:last-child{
   margin: 0;
}
.navbar_items li a{
   width: 100%;
   color: #fff;
   text-decoration: underline;
   font-size: 18px;
   
}







