/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

/*--------------------*/

body {
   max-width: 400vh;
}

.header {
   height: 150px;
   background: url('../img/imagebanner.jpeg')center/cover no-repeat;
}

.container {
   max-width: 1300px;
   margin: 0 auto;

}

.header__nav-bar {
   height: 150px;
   display: flex;
   align-items: end;
   margin: 0 -15px;
   padding: 0 0 15px 0;

}

.flex-column {
   padding: 0 15px;
   font-size: 20px;
   line-height: 60px;
}

.hover-border:hover{
   box-shadow: 0 0 10px #fff;
   transition: 0.4s;
   border-radius: 20px;

}

.flex-column a {
   color: #fff;
   opacity: 0.6;
}
.flex-column a:hover{
   opacity: 1;
}


.header__logo a {
   opacity: 1;
}

.header__logo img {
   height: 60px;

}

.header__online-kino::before {
   content: '';
   position: relative;
   background: url('../img/play.svg') 100% 100%/100% 100% no-repeat;
   width: 20px;
   height: 35px;
   display: inline-block;
   opacity: 0.7;
   top: 10px;
   padding: 0 0 0 25px;
}

.header__online-kino:hover:before{
   opacity: 1;
   transition: transform 0.3s ease;
}

.header__oskar::before {
   content: '';
   position: relative;
   background: url('../img/oscar.svg') 100% 100%/100% 100% no-repeat;
   width: 20px;
   height: 35px;
   display: inline-block;
   opacity: 0.7;
   top: 10px;
   padding: 0 0 0 25px;
}

.header__oskar:hover::before{
   opacity: 1;
   transition: transform 0.3s ease;
}



.header__search-input {
   height: 30px;
   width: 160px;
   border-radius: 5px;
   opacity: 0.7;
   font-size: 17px;
   display: inline-block;
   padding: 0 0 0 5px;
}

.header__search-input:focus{
   opacity: 1;
}

.header__search-input::placeholder {
   font-size: 17px;
   padding: 0 15px 0 0;
}


.header__form::before {
   content: '';
   position: relative;
   background: url('../img/loupe.jpeg') 0 0/auto 100% no-repeat;
   width: 20px;
   height: 20px;
   display: inline-block;
   top: 5px;
   opacity: 0.7;
}
.header__form:hover::before{
   opacity: 1;
}


.header__btn {
   display: inline-block;
   font-size: 15px;
   background: linear-gradient(to right, rgba(255,91,108,1) 0%,rgba(230,97,237,1) 50%,rgba(96,105,209,1) 100%);
   padding: 0 20px;
   border-radius: 20px;

}

.header__button-block a {
   opacity: 1;
   
   color: #fff;
   height: 30px;
   line-height: 30px;
   display: inline-block;
   font-size: 12px;
   font-weight: 600;
}

.header__button-block{
   transition: transform 0.3s ease;
}

.header__button-block:hover{
   transform: scale(1.2);
}

.header__login-block a {
   font-size: 17px;
   line-height: 17px;
   opacity: 0.8;
}
